<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.guide.leagueoflegends.myleagueapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".RivenPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RivenAbilities">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RivenPage"/>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".RivenRunesActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RivenPage"/>
        </activity>
        <activity android:name=".Riven_Runes_Electrocute">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RivenRunesActivity"/>
        </activity>
        <activity android:name=".CountersActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RivenPage"/>
        </activity>
        <activity android:name=".Riven_Runes_Predator"/>
        <activity android:name=".Counters_Garen">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".CountersActivity"/>
        </activity>
        <activity android:name=".riven_builds">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".RivenPage"/>
        </activity>
        <activity android:name=".BasicBuild"/>
        <activity android:name=".Lethality"/>
        <activity android:name=".AdrianBuild"/>
        <activity android:name=".Counters_Champion_Activity">
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RivenGameplay">
        </activity>
        <activity android:name=".RivenVideoDetailActivity">

        </activity>
    </application>

</manifest>